.Header{
    font-family: 'Pacifico', cursive;
    background-image: linear-gradient(80deg, #654ea3, #eaafc8); 
     position: absolute;
     width: 100%;
     height: 22vh;
     box-shadow: 10px 3px 5px -1px rgba(0,0,0,0.1);
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
     height: 22vh;
     z-index: 5;
     display: flex;
     justify-content: center;
     align-items: center;
     animation: entrance 1s ease-in-out 1s forwards ;
    
}

.text-head {
    
    margin-top:1em;
   color: rgb(255, 255, 255);
  
}
.icon{
    transform: translateY(-5px);
    color: rgb(49, 49, 49);
    animation: lightup 1s ease-in-out 1s forwards ;
}

@keyframes entrance {
    0%   {}
   
    100% {   border-bottom-left-radius: 60%;border-bottom-right-radius: 60%;height: 11vh;}
  }

  @keyframes lightup {
    0%   {}
   
    100% {   color: rgb(246, 236, 96);}
  }