.List {
    padding: 5%;
    transition: cubic-bezier(.5,.08,.26,.85) 1.5s;
}

.dataList{
   
   height: 49vh;
    overflow-wrap: scroll;
    

}

.listItem {
    opacity: 0; 
    transform: scale(0.4) ;
    animation: listin 0.5s ease-in-out forwards ;
}



#itemlist:active{
    transform: scale(1.2) ;
 
}

@keyframes listin {
    0%   { }
   
    100% { opacity: 1; transform: scale(1) }
  }

  @keyframes listClick {
    0%   { }
   
    100% { opacity: 1; transform: scale(1) }
  }